.mealsInfoWrapper {
  max-width: 1200px;
}

.mealsMainInfo h2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 15px;
}

.mealsMainInfo h2:hover {
  text-decoration: underline;
}

.mealsMainInfo span {
  color: rgb(197, 114, 5);

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  display: block;
}

.mealsInfoTags {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px 0;

  color: #bbbbbb;
}


.mealsMainInfo img {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 20%;
}


.tableWrapper table {
  width: 600px;
  border-collapse: collapse;
  margin: 25px auto;
}

.tableWrapper th, td {
  padding: 5px;
}

.tableWrapper th {
  text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 1px solid #111;
}

.tableWrapper tr:hover{
  background-color: rgb(207, 160, 98);
}


.mealsInfoInstructions h3{
  color: rgb(197, 114, 5);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.mealsInfoInstructions h3:hover {
  text-decoration: underline;
}

.mealsInfoInstructions  p{
  line-height: 32px;
  margin: 15px auto;
  width: 70%;
}

.mealsInfoWrapper button {
  display: block;
  margin: 30px auto;
  font-size: 15px;
  color: #FFF;
  background-color: rgb(197, 114, 5);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}


.mealsInfoYoutube h3 {
  text-align: center;
  margin-bottom: 20px;
}

.youtubePlayerWrapper {
  margin: 20px auto;
}


@media screen and (max-width: 600px) {
  .tableWrapper table {
    width: 40%;
  }
}